
#top {
    position: relative;
    background-color: beige;
    color: black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border: 1px solid black;
}

.center_content {
    position: relative;
    background-color: white;
    padding: 5px;
    color: black;
}
